[submodule "tpls/fmt"]
	path = tpls/fmt
	url = https://github.com/fmtlib/fmt
[submodule "tpls/googletest-src"]
	path = tpls/googletest-src
	url = https://github.com/google/googletest
[submodule "tpls/llvm"]
	path = tpls/llvm
	url = https://github.com/llvm/llvm-project.git
	shallow = true
	ignore = dirty
[submodule "tpls/eigen"]
	path = tpls/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "tpls/spdlog"]
	path = tpls/spdlog
	url = https://github.com/gabime/spdlog
[submodule "tpls/pybind11"]
    path = tpls/pybind11
    url = https://github.com/pybind/pybind11
    ignore = dirty